:root{
    /** Fonts **/
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;

    /** Colors **/
    --main-bg-color:#FFF;
    --section-dark-bg-color: #2E2F42;
    --section-light-color: #F4F4FD;

    --logo-accent-color: #4D5AE5;
    --title-dark-color: #2E2F42;
    --text-dark-color: #434455;
    --text-light-color: #FFF;
    --text-light-accent-color: #4D5AE5;
    --text-active-color: #404BBF;
    --text-secondary-light-color: #F4F4FD;

    --button-accent-bg-color: #4D5AE5;
    --button-secondary-bg-color: #F4F4FD;
    --button-secondary-active-bg-color: #404BBF;

}

/** General **/

body{
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--main-bg-color);
    color: var(--text-dark-color);
}

a{
    text-decoration: none;
    color: currentColor;
}

address{
    font-style: inherit;
}

button{
    color: currentColor;
    cursor: pointer;
}

.nav{

}

.list{
    list-style: none;
}

.item{

}

.link{

}

.title{
    color: var(--title-dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.section-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center
}

.text{

} 

.logo{
    color: var(--logo-accent-color);
    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent{
    color: var(--title-dark-color);
}

.page {

}

/** Elements **/

.btn {
    border-color: transparent;
    color: var(--text-light-color);
    letter-spacing: 0.04em;
    font-size: inherit;
}

.btn-accent {
    background-color: var(--button-accent-bg-color);
    line-height: 1.5;
    font-family: var(--main-font);
    font-weight: 500;
}

.btn-accent:hover,
.btn-accent:focus
{
    background-color: var(--button-secondary-active-bg-color);
}

.btn-secondary {
    font-family: var(--main-font);
    line-height: 1.5;
    color: var(--text-light-accent-color);
    font-weight: 500;
    letter-spacing: 0.04em;
    background: var(--button-secondary-bg-color);
    border: 1px solid #E7E9FC;
}

.btn-secondary:hover,
.btn-secondary:focus
{
    color: var(--text-light-color);
    border-color: transparent;
    background-color: var(--button-secondary-active-bg-color);
}

/** Header **/

.header{}

.header-nav {
}
.header-logo {
}
.header-list {
}
.header-list-item {
}
.header-list-link {
    color:var(--title-dark-color);
    font-weight: 500;
}
.header-list-link:hover,
.header-list-link:focus {
    color: var(--text-active-color);
}
.header-adress {
}
.header-adress-list {
}
.header-adress-list-item {
}
.header-adress-list-link {
}
.header-adress-list-link:hover,
.header-adress-list-link:focus {
    color: var(--text-active-color);
}


/** Footer **/

.footer {
    background-color: var(--section-dark-bg-color);
}

.footer-logo .logo-accent {
    color: var(--text-secondary-light-color);
}

.footer-text {
    color: var(--text-secondary-light-color);
}


/** Main page **/

.main-page {}

.hero {
    background-color: var(--section-dark-bg-color);
}

.hero-title {
    color:var(--text-light-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.advantages {}

.advantages-title {
    letter-spacing: 0.02em
}

.advantages-list {}

.advantages-list-item {}

.advantages-list-title {
    letter-spacing: 0.02em
}

.advantages-list-text {}

.services {}

.services-title {
    letter-spacing: 0.02em
}

.services-list {}

.services-list-item {}

.team {
    background-color: var(--section-light-color);
}

.team-title {
    letter-spacing: 0.02em
}

.team-list {}

.team-list-item {
    background-color: #FFFFFF
}

.team-list-title {
    letter-spacing: 0.02em
}

.team-list-text {}


/** Portfolio page **/

.portfolio-page {}

.portfolio {}

.portfolio-title {}

.portfolio-filter-list {}

.portfolio-filter-item {}

.portfolio-projects-list {}

.portfolio-projects-item {}

.portfolio-projects-item-link {}

.portfolio-projects-item-title {
    letter-spacing: 0.02em
}

.portfolio-projects-item-text {}